<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View</title>

    <link rel="stylesheet" href="../css/admin.css">
  </head>
  <body>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>ID #</th>
            <th>Department</th>
        </tr>
        <tr>
            <td>Alex Ryba</td>
            <td>121</td>
            <td>Computer Science</td>
        </tr>
        <tr>
            <td>Jerry Waxman</td>
            <td>122</td>
            <td>Computer Science</td>
        </tr>
        <tr>
            <td>Adele Brogess</td>
            <td>123</td>
            <td>Mathematics</td>
        </tr>
    </table>
    </table>
</body>