<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View</title>

    <link rel="stylesheet" href="../css/admin.css">
  </head>
  <body>
    <table>
        <tr>
            <th>Name</th>
            <th>ID #</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>John Doe</td>
            <td>2154987362</td>
            <td>Enrolled</td>
        </tr>
        <tr>
            <td>Tracey Langdon</td>
            <td>3154687264</td>
            <td>Enrolled</td>
        </tr>
        <tr>
            <td>Joe Smith</td>
            <td>12468795324</td>
            <td>Enrolled</td>
        </tr>
        <tr>
            <td>JJ Johnson</td>
            <td>1468759324</td>
            <td>Graduated</td>
        </tr>
    </table>
</body>