<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin View</title>

    <link rel="stylesheet" href="../css/admin.css">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap">
          <img src="../image/chalkboard-logos_transparent.png"  alt="logo" class="logo">
          <h1>Admin Home</h1>
          <img src="../image/adminpic.jpeg" alt="pic">
            <div class="course"> 
               <div class="topnav">
                <a class="nav" href="/admin/logindb"  >Users</a>
                <!-- <a class="nav" href="/admin/coursedb" >Courses DB</a>
                <a class="nav" href="/admin/studentdb" >Student DB</a>
                <a class="nav" href="/admin/instructordb" >Instructor DB</a></div> -->
            </div>
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->
      <section class="projects">
        <div class="content-wrap divider">
          <h3>Access to database</h3>
          
         
         
            <a href="index.html" > Teacher's view </a> <br>
            <a href="studentPage.html"> Student's view </a>
         
    
    

        </div>
      </section>

      <!-- *************  EDUCATION & CERTIFICATIONS *********** -->
      <section class="education">
        <div class="content-wrap item-details">
          <h2>Info</h2>
          
        </div>
      </section>

      <!-- ************  CONTACT INFO / SOCIAL MEDIA  ************ -->
      <footer>
        <div class="content-wrap">
          <h2>Let's Keep in Touch!</h2>

          <!-- Social media and contact links. Add or remove any networks. -->
         
        </div>
      </footer>
    </main>
  </body>
</html>
